<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Jersey number</th>
            <th scope="col">Team</th>
            <th scope="col">Conference</th>
            <th scope="col">Voir joueur</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of players">
            <td>{{ p.firstname + ' ' + p.lastname }}</td>
            <td>{{ p.jersey }}</td>
            <td>{{ (p | getTeam).fullname }}</td>
            <td>{{ (p | getTeam).conference }}</td>
            <td>
                <a href='#' [routerLink]="['player', p.id]"><fa-icon [icon]="iconEye"></fa-icon></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr />

<form>
    <div class="form-group">
        <label for="lastname">Firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="player.firstname"
               placeholder="Enter the player's firstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="player.lastname"
               placeholder="Enter the player's lastname" required>
    </div>
    <div class="form-group">
        <label for="jerseyNumber">Jersey number</label>
        <input type="number" class="form-control" id="jerseyNumber" name="jerseyNumber" [(ngModel)]="player.jersey"
               placeholder="Number between 0 and 99" min="0" max="99" required>
    </div>
    <div class="form-group">
        <label for="team">Team</label>
        <select class="form-control" id="team" name="team" [(ngModel)]="player.teamId" required>
            <option *ngFor="let t of teams; let i = index"
                    [ngValue]="teams[i].id">{{ t.fullname + ' (' + t.conference + ')'}}</option>
        </select>
    </div>
    <button type="submit" (click)="addPlayer()" class="btn btn-primary">Add player</button>
</form>